form(action="").login-form

    //Обертка контента-------------------------------------------------
    dev.login-form_wrap

        //Заголовок-----------------------------------------------------
        h1.login-form__header Войти

        //Поля ввода email & password-----------------------------------
        div.login_input
            input(type="email" placeholder="Email").login__email
            input(type="password" placeholder="Пароль").login__password

        //Вход в профиль.-----------------------------------------------
        div.login-form_enter
            input(type="button" value="Войти").login__button
            img(src="/modules/login/img/forward.png", alt="").login__button-img

        //Создание профиля.---------------------------------------------
        div.login-form_create
                span.create__text Нет аккаунта на Toxin?
                input(type="button", value="Создать").login__create

                
