<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="login.css")
        link(href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet")
        title Document
    body

        form(action="").login-form

            //Обертка контента-------------------------------------------------
            dev.login-form_wrap

                //Заголовок-----------------------------------------------------
                h1.login-form__header Войти

                //Поля ввода email & password-----------------------------------
                div.login_input
                    input(type="email" placeholder="Email").login__email
                    input(type="password" placeholder="Пароль").login__password

                //Вход в профиль.-----------------------------------------------
                div.login-form_enter
                    input(type="button" value="Войти").login__button
                    img(src="img/forward.png", alt="").login__button-img

                //Создание профиля.---------------------------------------------
                div.login-form_create
                        span.create__text Нет аккаунта на Toxin?
                        input(type="button", value="Создать").login__create

                
