<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        title Document
        link(href="dist/css/datepicker.min.css" rel="stylesheet" type="text/css")
        script(src="http://code.jquery.com/jquery-1.8.3.js")
        script(src="dist/js/datepicker.min.js")
    body

            h3.div.search-header iiihhaa
            input(type="text", name="", class="datepicker-here")
            