<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		title Document
		//link(href="dist/css/datepicker.min.css" rel="stylesheet" type="text/css")
		link(href="search.css" rel="stylesheet" type="text/css")
		link(href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet")
		script(src="http://code.jquery.com/jquery-1.8.3.js")
		script(src="dist/js/datepicker.min.js")
	body

		form.search-room
			h3.search-header Найдём номера под ваши пожелания
			div.search-dates
				div.search-arrival
					h3.search-arrival__header прибытие
					input(type="date", name="").search-arrival__input
				div.search-checkout
					h3.search-checkout__header выезд
					input(type="date", name="").search-checkout__input
			div.search-guests
				h3.search-guests__header гости
				input(type="button", value="Сколько гостей").search-guests__input
			div.submit-wrap
				input(type="submit", value="подобрать номер").search-submit
				img(src="img/forward.png", alt="").search-submit__img
				

			
		
			