div.about.about_style 



    div.logo.logo_style
        div.logo__img
            img(src="img/logo.png", alt="Logo")
        p. 
            Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.    
        


    div.about-menu
        ul.menu____nav
            li
                h3.about-menu_header-style Navigation
            li.menu__nav-item
                a(href="") About&nbspUs
            li.menu__nav-item
                a(href="") News
            li.menu__nav-item
                a(href="") Support
            li.menu__nav-item
                a(href="") Product

        ul.menu__about
            li
                h3.about-menu_header-style About&nbspUs
            li
                a(href="").menu__about-item Who&nbspwe&nbspare
            li
                a(href="").menu__about-item Our&nbspteam
            li
                a(href="").menu__about-item Careers
            li
                a(href="").menu__about-item Investors

        ul.menu__support
            li
                h3.menu_header-style Support
            li
                a(href="").menu__support-item Documentation
            li
                a(href="").menu__support-item Community
            li
                a(href="").menu__support-item Get&nbspin&nbspTouch



    form.form__subscrime_style
        h1.sub__header.about-menu_header-style. 
            Subscribe to our newsletter
        p.sub__content. 
            Receive our latest news and 
            promotions in your inbox!
        div.subscribe__input
            input(type="email" value="email").sub__input-email
            a(href="").subscribe__link
                img(src="img/forward.png", alt="forward button").sub__input-image
        
