div.about.about_style 

    div.logo.logo_style
        div.logo__img
            img(src="img/logo.png", alt="Logo")
        p. 
            Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.    
        

    div.about-menu
        div.about-links
            span.about-links__header Navigation   
            a(href="").about-links__item About Us
            a(href="").about-links__item News
            a(href="").about-links__item Support
            a(href="").about-links__item Products

        div.about-links
            span.about-links__header ABOUT&nbspUS
            a(href="").about-links__item Who&nbspwe&nbspare
            a(href="").about-links__item Our&nbspteam
            a(href="").about-links__item Careers
            a(href="").about-links__item Investors

        div.about-links
            span.about-links__header  Support
            a(href="").about-links__item Documentation
            a(href="").about-links__item Community
            a(href="").about-links__item Get&nbspin&nbspTouch



    form.form__subscrime_style
        h1.sub__header.about-menu_header-style. 
            Subscribe to our newsletter
        p.sub__content. 
            Receive our latest news and 
            promotions in your inbox!
        div.subscribe__input
            input(type="email" value="email").sub__input-email
            a(href="").subscribe__link
                img(src="img/forward.png", alt="forward button").sub__input-image
        
