div.footer.footer_style

	h3.footer-about.	
		Copyright © 2018 Toxin UI Kit. All rights reserved.


	nav.socials.nav-socials_style
		a(href="").socials__twitter
			img(src="img/twitter.png", alt="link to twitter")
		a(href="").socials__facebook
			img(src="img/facebook.png", alt="link to facebook")
		a(href="").socials__instagram
			img(src="img/instagram.png", alt="link to intsgramm")
