div.header
	div.header__body
		div.header__logo
			img.header-logo__image(src="img/logo.png")
		nav.header__menu
			a(href="").header-menu__home Home
			a(href="" name="about") About&nbspUs
			a(href="" name="services") Services
				img(src="img/header_serv_icon.png").services__image
			a(href="" name="careers") Careers
			a(href="" name="news") News
			a(href="" name="documentation") Documentation
		nav.header__buttons
			a(href="" name="login").header__buttons__login LOGIN
			a(href="" name="register").header__buttons__register REGISTER