doctype html
html(lang="ru-RU")
	head
		meta(charset="utf-8")
		link(rel="stylesheet" type="text/css" href="style/style.css")
		link(href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet")
		title
	body
		header
			include modules/header

			div.content
				img(src="img/LandingPage.png", alt="Background Image").content__background
				p.content__text. 
					Лучшие номера для вашей работы, 
					отдыха и просто вдохновения.

			include modules/about

		footer
			include modules/footer
			
	


