doctype html
html(lang="ru-RU")
	head
		meta(charset="utf-8")
		link(rel="stylesheet" type="text/css" href="style/style.css")
		link(href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet")
		title
	body
		header
			include modules/header
	


