//Блок диаграммы=============
div.wrap

    //Значения ==============
    div.container

        div.sector
        div.test
        div.test2

    //Широкая полоса======
    div.container2

        div.sector2

    //Текст====================
    div.text 
        span.header 260
        span.text голосов 

        
            

 


                