//Общий блок=====================================================
div.roominfo

    //Заголовок==================================================
    h3.roominf_header Сведения о номере

    //Обертка комфорт============================================
    div.content__wrap
        img(src="modules/roominf/img/insert_emoticon.png", alt="").content__img
        p.content__text.
            #[strong Комфорт] #[br]
            Шумопоглощающие стены

    //Линия=======================================================
    div.content__border


    //Обертка Удобство============================================
    div.content__wrap
        img(src="modules/roominf/img/location_city.png", alt="").content__img
        p.content__text.
            #[strong Удобство] #[br]
            Окно в каждой из спален

    //Линия========================================================
    div.content__border

    //Обертка Уют==================================================
    div.content__wrap
        img(src="modules/roominf/img/whatshot.png", alt="").content__img
        p.content__text.
            #[strong Уют] #[br]
            Номер оснащён камином
            
