//Блок отзывов=======================================
div.reviews

    //Заголовок======================================
    h3.reviews_header Отзывы посетителей номера

    //Отзыв Мурада==================================================
    div.review_murad

        //Аватарка + данные =========================================
        div.content__wrap
            img(src="modules/reviews/img/murad.png", alt="").content__img
            p.content__text.
                #[strong Мурад Сарафанов] #[br] 
                5 дней назад 

        //Лайки + Отзыв ======================================================================
        div.content__wrap1
            input(type="button", value="12").like__button
            img(src="modules/reviews/img/heart.png", value="12").like-button__img
            p.content__review-text.
                Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.

    //Отзыв Патриции ============================================
    div.review_patricia

        //Лайки + Данные =========================================
        div.content__wrap
            img(src="modules/reviews/img/patricia.png", alt="").content__img
            p.content__text.
                #[strong Патрисия Стёклышкова] #[br]
                Неделю назад

        //Лайки + Отзыв ========================================================================
        div.content__wrap1
            input(type="button", value="2").like__button
            img(src="modules/reviews/img/heartoff.png", value="2").like-button__img
            p.content__review-text.
                Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать,каждый день новое блюдо и десерт как комплимент
