//коробка-------------------------------------
div.footer.footer_style

	//заголовок-------------------------------------------------
	h3.footer-about.	
		Copyright © 2018 Toxin UI Kit. All rights reserved.

	//Социальные сети---------------------------------------------------------
	nav.socials.nav-socials_style
		a(href="").socials__twitter
			img(src="modules/footer/img/twitter.png", alt="link to twitter")
		a(href="").socials__facebook
			img(src="modules/footer/img/facebook.png", alt="link to facebook")
		a(href="").socials__instagram
			img(src="modules/footer/img/instagram.png", alt="link to intsgramm")
