//контейнер элементов about----------------------------------------
div.about.about_style 

    //Логотип с текстом-----------------------------------------------------
    div.about-logo.logo_style
        div.logo__img
            img(src="modules/about/img/logo.png", alt="Logo")
        p.about-logo__text 
            Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.      

    //Меню со ссылками--------------------------------------------------
    div.about-menu
        div.about-links
            h3.about-links__header Navigation   
            a(href="").about-links__item About Us
            a(href="").about-links__item News
            a(href="").about-links__item Support
            a(href="").about-links__item Products

        div.about-links
            h3.about-links__header ABOUT&nbspUS
            a(href="").about-links__item Who&nbspwe&nbspare
            a(href="").about-links__item Our&nbspteam
            a(href="").about-links__item Careers
            a(href="").about-links__item Investors

        div.about-links
            h3.about-links__header Support
            a(href="").about-links__item Documentation
            a(href="").about-links__item Community
            a(href="").about-links__item Get&nbspin&nbspTouch

        //Блок отправки EMAIL--------------------------------------------------------
        div.form__subscrime_style
            div.sub-content
                h3.sub-content__header Subscribe to our newsletter
                p.sub-content__text. 
                    Receive our latest news and promotions in your inbox!
            form.subscribe__input
                input(type="email" placeholder="Your email address").sub__input-email
                input(type="submit" value="").sub__input-submit
 


    
        
