//Блок впечатления=============================
div.imprassions 

	//Заголовок блока==========================
	h3.impr_header Впечателения от номера

	//Круговая диаграмма=======================
	include ../diagram/diagram.pug

	//Список значений==========================
	ul.impr_value
		li.item__great  Великолепно
		li.item__good   Хорошо
		li.item__alright    Удовлитворительно
		li.item__bad    Разочарован