<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="register.css")
        link(href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet")
        title Document
    body

        form.register 

                div.reg-content

                    h1.reg-header Регистрация аккаунта

                    div.reg-wrap_name
                        input(type="text", placeholder="Имя").reg__name
                        input(type="text" placeholder="Фамилия").reg__surname

                    div.reg-wrap_gender
                        input(id="man", type="radio", name="gender", value="man").reg__man 
                        label(for="man") Мужчина
                        input(id="wooman", type="radio", name="gender", value="wooman").reg__wooman
                        label(for="wooman") Женщина

                    div.reg-wrap_birthdate
                        h3.reg-header__birthdate дата рождения
                        input(type="date", name="date").reg__birthdate

                    div.reg-wrap_email
                        h3.reg-header__regdata данные для входа в сервис
                        input(type="email", placeholder="Email").reg__email
                        input(type="password", placeholder="Пароль").reg__password

                    div.reg-wrap_spec-offer
                        input(id="spec-offer" type="checkbox", name="").reg__spec-offer 
                        label(for="spec-offer").reg__label Получать спецпредложения

                    div.reg-wrap_pay
                        input(type="button", value="Перейти к оплате").reg-wrap__pay-button
                        img(src="img/forward.png", alt="").reg-wrap_pay__img

                    div.reg-wrap_login
                        span.reg-wrap_submit__text Уже есть аккаунт на Toxin
                        input(type="submit", value="Войти").reg-wrap__login-button



        