<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet")
        link(rel="stylesheet" type="text/css" href="rules.css")
        title rules
    body

        //Обертка категории правила============================================
        div.rules

            //Колонка правила==================================================
            ul.rules-column #[strong Правила]
                li.rules__item Нельзя с питомцами
                li.rules__item Без вечеринок и мероприятий
                li.rules__item Время прибытия — после 13:00, а выезд до 12:00

            //Колонка отмена====================================================
            ul.rules_cancel-column #[strong Отмена]
                li.rules__item Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.


